@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #1A2980, #26D0CE);
}

.wrapper {
    background-color: white;
    width: 350px;
    padding: 60px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.wrapper input{
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    border-radius: 2px;
    outline: none;
}

.wrapper button{
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    border: #fff;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.wrapper button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.qrcode-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    transition: .5s all;
}

#qrcode-box{
    display: none;
}

.qrcode-wrap img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid#dcdcdc;
}